*{
  margin: 0;
  box-sizing: border-box;
}
.header{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  top:0px;
  position: fixed;
  width: 100%;
  background-color: #142850
}

.header a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family:sans-serif;
  font-weight: bold;
  padding:20px;
  color: white;

}

.header a:hover {
  background-color: white;
  color: black;
}

.navbar a {
  float: right;
}

.experience{
  margin-top: 56px;
  padding: 20px;
  width: 100%;
  background-color: pink;
  font-family:sans-serif;
}

.education{
  width: 100%;
  padding: 20px;
  background-color: pink;
  font-family:sans-serif;
}


.skills{
  padding: 20px;
  width: 100%;
  background-color: pink;
  font-family:sans-serif;
}

.accomplanishment{
  padding: 20px;
  width: 100%;
  background-color:pink;
  font-family:sans-serif;  
}






.footer {
  bottom:0px;
  position: fixed;
  width: 100%;
  background-color: #142850;
  left:0px;
  text-align: center;
  padding: 20px;
}
.footer a{
  color: white;
  text-decoration: None;
  font-family: sans-serif;
}
